<div class="custom">
    <div class="container">
        <div class="text-center pt-4" style="color: rgb(44, 62, 80);">
            <h2 class="text-uppercase mb-3 fs-1 fw-bolder">CONATCT SECTION</h2>
        </div>
        <form action="" class="w-50 p-3 mx-auto mt-5 ng-valid ng-touched ng-dirty">
            <input type="text" id="userName" placeholder="userName" class="form-control border-0 border-bottom py-4 position-relative ng-valid ng-touched ng-dirty">
            <input type="text" id="userAge" placeholder="userAge" class="form-control border-0 border-bottom py-4 position-relative ng-valid ng-touched ng-dirty">
            <input type="text" id="userEmai" placeholder="userEmail" class="form-control border-0 border-bottom py-4 position-relative ng-valid ng-touched ng-dirty">
            <input type="text" id="userPassword" placeholder="userPassword" class="form-control border-0 border-bottom py-4 position-relative ng-valid ng-touched ng-dirty">
            <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
        </form>
    </div>
</div>